{% extends "base.html" %}
{% block content_recipes %}
<!-- Jumbotron Feature -->
<div class="container-fluid container-jumbotron">

    <div class="row">
        <div class="col-12 col-md-m6 my-4">
            <h1 class="jumbotron-header">Feature of the month</h1>
        </div>  
        <div class="col-12 jumbotron-content">
            <p class="jumbotron-text col-12 col-lg-6">
                Each month we shine the spotlight on companies who love to help bakers do what they do. Without these people, baking
                just wouldn't be possible, and it only seems fair to show our appreciation for the suppliers who allow us to keep
                baking throughout the year. Finding the right ingredient to take your bake to the next level can be frustrating, but
                we try our best to help you discover the best quality for the right price.
            </p>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container container-fluid container-home"> 

    <!-- Page Features -->
    <div class="row features-header">
        <h2 class="col-12 recipes-header">Dove's Farm</h2>
    </div> 
    <div class="row col-12 featurette">
        <p>It started with a passion, as all good things do. A fascination for whole grains and organic farming, our founders
            Clare and Michael Marriage sowed their first seeds in 1977 with the simple idea of making great quality flour from
            their grains. Water, wind, soil and sun sustained their crop, and with a little time and patience, a year later
            their first grains were ready to harvest. The first stone grinding equipment was installed and they began to mill
            whole grains into wholemeal flour.
        </p>
    </div>
    <div class="row col-6 feature-image">
        
    </div>
    
    <div class="row col-12 featurette">
        <p>As a family business, we’ve milled organic and heritage flours as well as a range of naturally gluten free flours
            since we were founded. We’ve made biscuits from our wholemeal flour and also reintroduced some of the UK’s lost
            ancient grains back to our soils. Today, we continueto be driven by our original mission to make quality organic 
            flour with care, and the result is a range of unique, distinctive and trusted flours that make home baking a joy.
        </p>
    </div> 
{% endblock %}