{% extends "base.html" %}
{% block content_recipes %}
<!-- Jumbotron Feature -->
<div class="container-fluid container-jumbotron">

    <div class="row">
        <div class="col-12 col-md-m6 my-4">
            <h1 class="jumbotron-header">Feature of the month</h1>
        </div>  
        <div class="col-12 jumbotron-content">
            <p class="jumbotron-text col-12 col-lg-6">
                Days Gone Pie is nothing without the community of bakers that support the site.
                We rely on you as members to help fill our recipe books with amazing things that
                put smiles on faces.  We want everyone who visits us here to feel right at home,
                so every month we put one of our amazing members in the spotlight and let them tell
                you a little bit about themselves and select a special recipe that they think you will
                really love.
            </p>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container container-fluid container-home"> 

    <!-- Page Features -->
    <div class="row features-header">
        <h2 class="col-12 recipes-header">The Saxon Forager</h2>
    </div>
    <div class="row">
        {% for image in feature %}
        <img class="feature-img" src="{{ image.saxonLogo }}" alt="feature_image">
        {% endfor %}
    </div> 
    <div class="row col-12 featurette">
        <p>

        </p>
    </div>
    <div class="row col-6 feature-image">
        
    </div>
    
    <div class="row col-12 featurette">
        <p>
            Craig Brooks lives in Wiltshire (UK). He is better known to the online community as 'The Saxon Forager',
            a historical re-enactor and one man baking/brewing sensation.
        </p>
    </div> 
{% endblock %}