{% extends "base.html" %}
{% block content_recipes %}
<!-- Jumbotron Feature -->
<div class="container-fluid container-jumbotron">

    <div class="row">
        <div class="col-12 col-md-m6 my-4">
            <h1 class="jumbotron-header">Feature of the month</h1>
        </div>  
        <div class="col-12 jumbotron-content">
            <p class="jumbotron-text col-12 col-lg-6">
                Days Gone Pie is nothing without the community of bakers that support the site.
                We rely on you as members to help fill our recipe books with amazing things that
                put smiles on faces.  We want everyone who visits us here to feel right at home,
                so every month we put one of our amazing members in the spotlight and let them tell
                you a little bit about themselves and select a special recipe that they think you will
                really love.
            </p>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container container-fluid container-home"> 

    <!-- Page Features -->
    <div class="row feature-header">
        <h2 class="col-12 recipes-header">The Saxon Forager</h2>
    </div>
    <div class="row">
        {% for image in feature %}
        <img class="feature-img" src="{{ image.saxon_logo }}" alt="feature_image">
        {% endfor %}
    </div> 
    
    <div class="row col-12 feature">
        <p>
            Craig Brooks lives in Wiltshire (UK). He is better known to the online community as 'The Saxon Forager',
            a historical re-enactor and one man baking/brewing sensation. In his new book, 'Eat Like a Viking' Vol.2, Craig
            has continued his work, attempting recreate some of the food and drink that would have been eaten by our 
            Anglo Saxon fore-fathers.
        </p>
        <p>
            Osterhlafas (Oyster loaf) is one of the recipes in 'Eat Like a Viking' Vol.2, and Craig has been kind enough to
            share it with us. We asked craig why he'd decided to share this particular recipe with us.
            "I'd considered making this recipe for some time, and working on content for my next book gave me the perfect
            opportunity to give it a go. I like it as it's a little on the unusual side and I was
            able to create something that I hadn't seen before."
        </p>
    </div>
    {% for recipe in feature %}
    <div class="row">
        <h5 class="feature-recipe-header">{{ recipe.feature_recipe }}</h5>
    </div>
    <div class="row">
        <div class="col-12 col-lg-3 feature-img-recipe">
        {% for image in feature %}
        <img class="feature-img-recipe" src="{{ image.oyster_loaf }}" alt="feature_image">
        {% endfor %}
        </div>

        <!-- Feature ingredients -->
        <div class="feature-ingredients">
            <div class="offset-1">
                <h5 class="feature-sub-header"><strong>Ingredients</strong></h5>
            </div>
            <ul>
            {% for i in recipe.components %}
                <li class="component-item">{{ i }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <!-- Method -->
        <div class="feature-method">
            <div class="offset-1">
                <h5 class="modal-sub-header"><strong>Method</strong></h5>    
            </div>
            <div>
                <ol>
                {% for s in recipe.process %}
                    <li class="feature-process-step">{{ s }}</li><br>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    {% endfor %} 
{% endblock %}