{% extends "base.html" %}
{% block content_login %}
<!-- Jumbotron Login -->
<div class="container-fluid container-jumbotron container-login">

    <div class="row">
        <div class="col-12 col-md-m6 my-4">
            <h1 class="jumbotron-header jumbotron-login"><i class="fas fa-user"></i>  Login</h1>
        </div>  
        <div class="col-12 jumbotron-content">
            <p class="jumbotron-text login-text col-12 col-lg-6">
                Welcome back!<br>
                Not registered with us?
                <h6 class="login-redirect"><a href="{{ url_for('register') }}"><strong class="login-redirect">Click Here!</strong></a></h6>
            </p>
        </div>

        <!-- Login Form -->
        <form method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
            <label for="username" class="col-12 form-label offset-md-1 offset-lg-2 username-header"><i class="fas fa-user-tag"></i>  username</label>
            <input type="username" class="col-10 offset-1 offset-lg-2 form-username" id="username" name="username" placeholder="username" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="col-12 form-label offset-md-1 offset-lg-2 password-header"><i class="fas fa-key"></i>  Password</label>
            <input type="password" class="col-10 offset-1 offset-lg-2 form-password" id="password" name="password" placeholder="password">
        </div>
        <div class="btn-form col-12 offset-md-1 offset-lg-2">
            <button type="submit" class="btn btn-login">Login!</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}