{% extends "base.html" %}
{% block content_recipes %}
<!-- Jumbotron Recipes -->
<div class="container-fluid container-jumbotron">

    <div class="row">
        <div class="col-12 col-md-m6 my-4">
            <h1 class="jumbotron-header">Recipes</h1>
        </div>  
        <div class="col-12 jumbotron-content">
            <p class="jumbotron-text col-12 col-lg-6">
                From sweet to savoury, pies to puds, Days Gone Pie is the recipe journal that gives you the know how to bake like a
                pro! All our recipes are here to help you create some amazing bakes, wow your friends and family and look awesome! 
                Each recipe has been taste tested and given the thumbs up by kids and grown ups alike across the planet. 
                So, if you're looking for a teatime treat, or dinner party dazzler, Days Gone Pie has something to keep everyone happy.
                If you have a winner of a recipe that you'd like to share with the community, then why not sign up today,become a member,
                and start sharing.
            </p>
            <div class="searchbox-recipes">
                <form class="form-inline col-12">
                    <input class="form-control mr-sm-2" type="search" placeholder="Find a recipe" aria-label="Search">
                    <button class="btn btn-search" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container container-fluid container-recipes">

    <!-- Page Features -->
    <!-- Bread -->
    <div class="row features-header">
        <h2 id="bread" class="col-12 recipes-header" >Bread</h2>
    </div>
    <div class="row text-center recipe-list">
        <div class="col-12">
        {% for recipe in bread_recipes %}
            <a href="{{ url_for('recipe_card') }}"><h4>{{ recipe.title }}</h4></a>
            <p>{{ recipe.desc }}</p>
            <br>
        {% endfor %}
        </div>
    </div>
    
    <!-- Cake -->
    <div class="row features-header">
        <h2 class="col-12 recipes-header">Cake</h2>
    </div>
    <div class="row text-center recipe-list">
        <div class="col-12">
        {% for recipe in cake_recipes %}
            <a href="{{ url_for('recipe_card') }}"><h4>{{ recipe.title }}</h4></a>
            <p>{{ recipe.desc }}</p>
            <br>
        {% endfor %}
        </div>
    </div>
    <!-- Dessert -->
    <div class="row features-header">
        <h2 class="col-12 recipes-header">Dessert</h2>
    </div>
    <div class="row text-center recipe-list">
        <div class="col-12">
        {% for recipe in dessert_recipes %}
            <a href="{{ url_for('recipe_card') }}"><h4>{{ recipe.title }}</h4></a>
            <p>{{ recipe.desc }}</p>
            <br>
        {% endfor %}
        </div>
    </div>
    <!-- Pastry -->
    <div class="row features-header">
        <h2 class="col-12 recipes-header">Pastry</h2>
    </div>
    <div class="row text-center recipe-list">
        <div class="col-12">
        {% for recipe in pastry_recipes %}
            <a href="{{ url_for('recipe_card') }}"><h4>{{ recipe.title }}</h4></a>
            <p>{{ recipe.desc }}</p>
            <br>
        {% endfor %}
        </div>
    </div>   

</div>


{% endblock %}

