{% extends "base.html" %}
{% block content_recipes %}
<!-- Jumbotron Recipes -->
<div class="container-fluid container-jumbotron">

    <div class="row">
        <div class="col-12 col-md-m6 my-4">
            <h1 class="jumbotron-header">Recipes</h1>
        </div>  
        <div class="col-12 jumbotron-content">
            <p class="jumbotron-text col-12 col-lg-6">
                From sweet to savoury, pies to puds, Days Gone Pie is the recipe journal that gives you the know how to bake like a
                pro! All our recipes are here to help you create some amazing bakes, wow your friends and family and look awesome! 
                Each recipe has been taste tested and given the thumbs up by kids and grown ups alike across the planet. 
                So, if you're looking for a teatime treat, or dinner party dazzler, Days Gone Pie has something to keep everyone happy.
                If you have a winner of a recipe that you'd like to share with the community, then why not sign up today,become a member,
                and start sharing.
            </p>
            <div class="searchbox-recipes">
                <form class="form-inline col-12">
                    <input class="form-control mr-sm-2" type="search" placeholder="Find a recipe" aria-label="Search">
                    <button class="btn btn-search" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container container-fluid container-recipes">

    <!-- Recipes Header -->
    <div class="row features-header">
        <h2 id="recipes" class="col-12 recipes-header" >Recipes</h2>
    </div>
        
    <!-- Recipe Card -->
    <div class="row">

        {% for recipe in recipes %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                    
            <!--Recipe Card Images-->
            {% for image in recipeImage %}
                {% if recipe.recipe_title == image.recipe_title %}
                <img class="card-img-top" src="{{ image.recipeImage }}" alt="recipe_image">
                {% endif %}
            {% endfor %} 

                <!-- Recipe Card Body -->
                <div class="card-body card-recipe">
                    <h4 class="card-title card-recipe-header">{{ recipe.recipe_title }}</h4>
                    <p class="card-text">{{ recipe.serves }}</p>
                    <p class="card-text">Prep: {{ recipe.prep_time }} | Cook: {{ recipe.cook_time }}</p>
                </div>
                <div class="card-footer recipe-footer">
                    <button type="button" class="btn btn-sm btn-recipe" data-toggle="modal" data-target="#a{{ recipe._id }}">
                        See Recipe!
                    </button>
                </div>
            </div>
        </div>        
        {% endfor %}
    </div>
</div>

<!-- Recipe Modal -->
{% for recipe in recipes %}
<div class="modal fade" id="a{{ recipe._id }}" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
    <div class="modal-dialog"><!--modal size here modal-lg etc-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="recipeModalLabel">{{ recipe.recipe_title }}</h4>
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="far fa-times-circle"></i></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Recipe Image -->
                        {% for image in recipeImage %}
                        <div class="col-12">
                            {% if recipe.recipe_title == image.recipe_title %}
                            <img class="modal-img" src="{{ image.modalImage }}" alt="recipe_image">
                            {% endif %}
                        </div>
                        {% endfor %} 

                        <!-- Recipe Details -->
                        <div class="col-md-12 ms-auto">
                            <p><em>by: {{ recipe.created_by }}</em></p>
                            <p class="modal-text"><strong>{{ recipe.serves }}</strong></p>
                            <p class="modal-text"><strong>{{ recipe.time }}</strong></p>
                            <p class="modal-text">{{ recipe.desc }}</p>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Ingredients -->
                        <div class="col-12 ms-auto">
                            <h5 class="modal-sub-header"><strong>Ingredients</strong></h5>
                        </div>
                        {% for item in ingredients %}
                        <div>
                            {% if recipe.recipe_title == item.recipe_title %}
                            <ul class="component">
                                {% for i in item.components %}
                                <li class="component-item">{{ i }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endfor %}   
                    </div>
                    <div class="row">

                        <!-- Method -->
                        <div class="col-md-12 ms-auto">
                            <h5 class="modal-sub-header"><strong>Method</strong></h5>    
                        </div>
                        {% for step in method %}
                        <div>
                            {% if recipe.recipe_title == step.recipe_title %}
                            <ol class="process">
                                {% for s in step.process %}
                                <li class="process-step">{{ s }}</li><br>
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
