{% extends "base.html" %}
{% block content_recipes %}
<!-- Jumbotron Recipes -->
<div class="container-fluid container-jumbotron">

    <div class="row">
        <div class="col-12 col-md-m6 my-4">
            <h1 class="jumbotron-header">Recipes</h1>
        </div>  
        <div class="col-12 jumbotron-content">
            <p class="jumbotron-text col-12 col-lg-6">
                From sweet to savoury, pies to puds, Days Gone Pie is the recipe journal that gives you the know how to bake like a
                pro! All our recipes are here to help you create some amazing bakes, wow your friends and family and look awesome! 
                Each recipe has been taste tested and given the thumbs up by kids and grown ups alike across the planet. 
                So, if you're looking for a teatime treat, or dinner party dazzler, Days Gone Pie has something to keep everyone happy.
                If you have a winner of a recipe that you'd like to share with the community, then why not sign up today,become a member,
                and start sharing.
            </p>
            <div class="searchbox-recipes">
                <form class="form-inline col-12">
                    <input class="form-control mr-sm-2" type="search" placeholder="Find a recipe" aria-label="Search">
                    <button class="btn btn-search" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container container-fluid container-recipes">

    <!-- Page Features -->
    <!-- Recipes -->
    <div class="row features-header">
        <h2 id="bread" class="col-12 recipes-header" >Recipes</h2>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">{{ recipe.recipe_title }}</h4>
                    <p class="card-text">{{ recipe.serves }}</p>
                    <p class="card-text">{{ recipe.time }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
            
        <div class="accordion col-md-6 mb-4" id="recipe-specs">
            <div class="accordion-ingredients">
                <h4 class="accordion-header" id="headingIngredients">
                    <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseIngredients"
                        aria-expanded="true" aria-controls="collapseOne">Ingredients
                        <i class="fas fa-chevron-circle-down"></i>
                    </button>
                </h4>
                <div id="collapseIngredients" class="accordion-collapse collapse show" aria-labelledby="headingIngredients" data-parent="#recipe-specs">
                    <div class="accordion-body">

                        {% for item in ingredients %}
                        <ul>
                            <li>{{ item.in_one }}</li>
                            <li>{{ item.in_two }}</li>
                            <li>{{ item.in_three }}</li>
                            <li>{{ item.in_four }}</li>
                            <li>{{ item.in_five }}</li>
                            <li>{{ item.in_six }}</li>
                        </ul>   
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-method">
                <h4 class="accordion-header" id="headingMethod">
                    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseMethod" 
                        aria-expanded="false" aria-controls="collapseMethod">
                        Method
                    </button>
                </h4>
                <div id="collapseMethod" class="accordion-collapse collapse" aria-labelledby="headingMethod" data-parent="#recipe-specs">
                    <div class="accordion-body">
                        {% for step in method %}
                        <ol>
                            <li>{{ step.step_one }}</li><br>
                            <li>{{ step.step_two }}</li><br>
                            <li>{{ step.step_three }}</li><br>
                            <li>{{ step.step_four }}</li><br>
                            <li>{{ step.step_five }}</li><br>
                            <li>{{ step.step_six }}</li><br>
                            <li>{{ step.step_seven }}</li><br>
                            <li>{{ step.step_eight }}</li><br>
                            <li>{{ step.step_nine }}</li><br>
                        </ol>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
